* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.clearfix:after {
  content: ' '; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  font-family: poppins, arial, sans-serif;
  background-color: whitesmoke;
}

.Mymodal {
  /* margin-top: 150px; */
  width: 96%;
  max-width: 1000px;
  height: 550px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
}

.modal-product {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
}

.Myproduct {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.product-slideshow {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}
.productSlides {
  display: none;
}
.product-slideshow .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  position: relative;
  top: -36px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product-slideshow .dot:active {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}

.product-slideshow .dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.product-name {
  color: #111;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  margin-top: -22px;
}

.product-code-name {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  margin: 8px auto 5px;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.18rem;
  text-align: center;
}

.round-shape {
  width: 125%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: darkorange;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal-info {
  width: 60%;
  height: 100%;
  float: right;
  position: relative;
}

.info {
  width: 90%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}

h2 {
  font-size: 2.25rem;
  margin-left: 1rem;
}

.form-list-row {
  margin: 1rem 0;
}

.form-list {
  margin-top: 1.5rem;
  margin-left: 3.5rem;
}

.form-list-row label {
  font-size: 1rem;
}

.form-list-row input {
  width: 70%;
  font-size: 1rem;
  padding: 0.4rem 0;
  border: none;
  display: inline-block;
  border-bottom: solid 2px #999;
  background-color: transparent;
  transition: all 0.3s ease;
}
.form-list-row input:focus {
  border-color: #cdb196;
}

.form-list-row .user .fa-user {
  color: #999;
  font-size: 1rem;
}
.form-list-row .user svg {
  color: #999;
  font-size: 1rem;
}
.form-list-row .user input {
  position: relative;
  left: -16px;
  padding-left: 30px;
}

.checkbox {
  margin-top: 2rem;
}

.checkbox input {
  width: auto;
}
.checkbox span {
  font-size: 0.8rem;
}

.order-btn {
  color: white;
  font-size: 1rem;
  margin-left: 27.5rem;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  margin-bottom: -18px;
  border: none;
  border-radius: 3px;
  background-color: darkorange;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.order-btn:hover {
  background-color: orange;
}

.myfooter{
  margin-top: 700px;
}